version: "3.9"

services:
  api:
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M

  worker:
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
